$primary: #D2FF28;
$secondary: #5851ff;
$alternative: #e7e8e9;
$foreground: #FFF;

$info: #000;
$success: #000;
$warning: #000;
$danger: #000;

$font-family: 'Hind Madurai', sans-serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "alternative": $alternative
);
