$primary: #5b5b5b;
$secondary: #f3f3e9;
$alternative: #5851ff;
$alternative-secondary: green;
$foreground: #FFF;

$info: #000;
$success: #000;
$warning: #000;
$danger: #000;

$font-family: 'Hind Madurai', sans-serif;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "alternative": $alternative
);
