$primary: #464646;
$primary-dark: #232323;
$primary-light: #676767;

$secondary: #D2FF28;
$secondary-dark: #596b5c;
$secondary-light: #a3b1a5;

$alternative: #e7e8e9;
$alternative-dark: #888;
$alternative-light: #dedede;

$foreground: #FFF;

$info: #000;
$success: #000;
$warning: #000;
$danger: #000;

$theme-colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "secondary-light": $secondary-light,
  "alternative": $alternative,
  "alternative-dark": $alternative-dark,
  "alternative-light": $alternative-light
);
