@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-Regular.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-Light.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-Italic.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-Bold.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-Thin.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-ThinItalic.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Salesforce Sans';
    src: url('/fonts/subset-SalesforceSans-LightItalic.woff2') format('woff2'),
        url('/fonts/subset-SalesforceSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
