@import "./_variables";

html, body {
  font-family: $font-family;
  background: $secondary;
}

header {
  .logo {
    font-size: 4rem;
    font-weight: bold;

    a {
      color: $foreground;
    }
  }
}

section.main {
  p.welcome {
    font-size:2rem;
    font-weight: lighter;
    max-width: 60%;
    color: $primary;
  }
}
